@inherits LayoutComponentBase
@layout MainLayout

<div class="centered-shell">
    <div class="centered-glow centered-glow--left"  />
    <div class="centered-glow centered-glow--right" />

    <div class="centered-content">
        @Body
    </div>
</div>